<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" style="font-family: Algerian; font-size: 30px;">BHAVANI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" >
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="microdosis" routerLinkActive="active-link">Microdosis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tratamiento" routerLinkActive="active-link">Tratamiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog" routerLinkActive="active-link">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="perfil" routerLinkActive="active-link">Mi Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>