<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-4">
            <h1 style="font-family: Algerian; font-size: 30px;">BHAVANI</h1>
        </div>
        <div class="col-lg-2">
            <br>
            <a routerLink="">La Microdosis</a>
            <br>
            <br>
            <p routerLink="">Mi perfil</p>
            <p routerLink="">Acerca de</p>
            <p routerLink="">Blog</p>
            <p routerLink="">Nuestra investigaciones</p>
        </div>

        <div class="col-lg-2">
            <br>
            <a routerLink="">La Microdosis</a>
            <br>
            <br>
            <p routerLink="">Beneficios</p>
            <p routerLink="">Formulas</p>
            <p routerLink="">Espectro de luz</p>
            <p routerLink="">Protocolo</p>
        </div>
        <div class="col-lg-2">
            <br>
            <a routerLink="">El tratamiento</a>
            <br>
            <br>
            <p routerLink="">Tratamiento</p>
            <p routerLink="">Coaches</p>
            <p routerLink="">Terapia</p>
            <p routerLink="">Preguntas frecuentes</p>
        </div>
    </div>
    <div class="abajo">
        <br>
        <img src="../../../assets/img/imgfoot.png" alt="">
        <br>
    <p>Copyright © Bhavani. Todos los derechos reservados.</p>
</div>