<div class="banner">
    <h1>Una revolucion <br/> de la salud</h1>
</div>
    <div class="col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper sus</p>
    <button class="boton">Inicia tu protocolo</button>
</div>
<div class="part1">
    <br>
    <br>
    <h1>¿Para quién es el tratamiento  <br/> de microdosis de hongos?</h1>
    <br>
    <p>La microdosis es para TODOS!</p>
    <br>
    <p>Al ser una regeneración neuronal y regulación de neurotransmisores, beneficia a cualquier persona pues optimiza el funcionamiento de nuestro cerebro y de nuestra percepción.</p>
    <br><br>
</div>
<div class="part2">
    <br>
    <br>
    <h1>¿CUÁLES SON LOS <br/>BENEFICIOS?</h1>
    <br>
    <p>Todos nuestros tratamientos son especialmente seleccionados para tratar diferentes áreas problema.<br/><br/> Estas son algunas de las áreas que se pueden tratar</p>
    <hr>
    <br><br><br>
    <div class="card" style="width: 18rem; border: none; margin-left: 10%; position: absolute;">
        <img src="../../../assets/img/estres.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center;">MANEJO DEL <br/>ESTRÉS</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none; margin-left: 40%; margin-top: -1%; position: absolute;">
        <img src="../../../assets/img/ansiolitico.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center;">ANTIDEPRESIVO Y <br/>ANSIOLITICO</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none; margin-left: 70%; margin-top: -1%; position: absolute;">
        <img src="../../../assets/img/aumenta.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center;">AUMENTA LA <br/>CREATIVIDAD</h6>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="card" style="width: 18rem; border: none; margin-left: 10%; position: absolute;">
        <img src="../../../assets/img/caras.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center; background-color: #FDFCF5;">DESOLIDIFICA <br/>EL EGO</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none; margin-left: 40%; margin-top: -1%; position: absolute;">
        <img src="../../../assets/img/cabeza.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center; background-color: #FDFCF5;">DESARROLLA LA <br/>EMPATÍA</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none; margin-left: 70%; margin-top: -1%; position: absolute;">
        <img src="../../../assets/img/cerebro.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center; background-color: #FDFCF5;">AUMENTA LA <br/>PLASTICIDAD <br/> CELEBRAR</h6>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <button class="botons" style="margin-left: 42%;">Quiero saber más</button>
      <br><br><br><br>
</div>
<div class="experiencia">
    <br><br><br>
    <h1 style="text-align: center;">EXPERIENCIA CLINICA</h1>
    <br><br>
    <p style="text-align: center; padding-left: 32%; padding-right: 33%; font-size: 18px;">Hemos tratado a más de 2,000 personas en los últimos 3 años con protocolos personalizados de microdosis, aliviando diferentes afecciones y reconectándolas con una vida más plena.</p>
    <br><br>
    <br><br>
    <div class="card" style="border: none; width: 25%; margin-left: 8%; position: absolute;">
        <div class="card-header" style="background-color: #899FC4;"><h4 style="background-color: #D6EFA4; font-size: 75px; text-align: center;">2,000</h4></div>
        <div class="card-body" style="background-color: #899FC4;">
            <p>El número de personas en los últimos 3 años con protocolos personalizados de microdosis (el estudio clínico con mayor número de personas en el mundo)</p>
        </div>
      </div>
      <div class="card" style="border: none; width: 25%; margin-left: 36%; position: absolute;">
        <div class="card-header" style="background-color: #899FC4;"><h4 style="background-color: #D6EFA4; font-size: 75px; text-align: center;">500</h4></div>
        <div class="card-body" style="background-color: #899FC4;">
            <p>El número de personas que hemos ayudado con éxito a dejar antidepresivos (96% éxito)</p>
        </div>
      </div>
      <div class="card" style="border: none; width: 25%; margin-left: 66%; position: absolute;">
        <div class="card-header" style="background-color: #899FC4;"><h4 style="background-color: #D6EFA4; font-size: 75px; text-align: center;">80</h4></div>
        <div class="card-body" style="background-color: #899FC4;">
            <p>El número de especies en nuestro vasto banco genético.</p>
        </div>
      </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div class="formulas">
    <br><br><br><br><br><br>
    <img src="../../../assets/img/imgi.png" alt="" style="margin-left: 10%;">
    <div class="card" style="width: 35%; margin-left: 55%; margin-top: -45%; border: none; background-color: #CEC5B4; position: absolute;">
        <div class="card-header" style="text-align: center;border: none; background-color: #CEC5B4;"><h1>Nuestras Formulas</h1></div>
        <div class="card-body">
          <p class="card-text">Nuestras fórmulas se desarrollan a partir de nuestro banco genético, que cuenta con una variedad de 71 especies diferentes de hongos del género Psilocybe.<br/><br/>

            El hongo es una inteligencia que se adapta a tu sistema y sanará lo que tu sistema nervioso y tu cuerpo psico-emocional necesiten sanar. Cada persona establece una relación personal con el hongo y tiene una respuesta y sensibilidad distinta.<br/><br/>
            
            Es muy probable que durante un tratamiento de 90 días desees probar diferentes fórmulas que se complementen entre sí y ofrezcan diferentes matices a tu proceso.<br/><br/>
            
            Las descripciones de las fórmulas no deben limitar la experiencia generando expectativas específicas, sino que intentan mostrar cómo los distintos tipos de hongos tienen diferentes tendencias, diferentes formas de sanar, y cómo enfatizan algunos aspectos de nuestra experiencia en el proceso.
            
            </p>
        </div>
      </div>
    <br><br><br>
    <button class="boton" style="margin-left: 56%;">Aprender más</button>
    <br><br><br>
    <br><br><br>
</div>
<div class="part2">
    <br>
    <br>
    <h1>PROTOCOLOS</h1>
    <br><br><br>
    <p>Hemos desarrollado una serie de protocolos que hemos podido implementar y perfeccionar gracias a más de 2 mil personas que han confiado en nosotros.</p>
    <hr>
    <br><br><br>
    <div class="card" style="width: 18rem; border: none; margin-left: 10%; position: absolute;">
        <img src="../../../assets/img/mano.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center;">PARKINSON</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none; margin-left: 40%; position: absolute;">
        <img src="../../../assets/img/add.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center;">ADD, ADHD, <br/>ATENCION Y <br/> CONCENTRACION</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none; margin-left: 70%;  position: absolute;">
        <img src="../../../assets/img/personal.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center;">AUTOCONOCIMIENTO <br/>Y CRECIMIENTO <br/>PERSONAL</h6>
        </div>
      </div>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <div class="card" style="width: 19rem; border: none; margin-left: 10%; position: absolute;">
        <img src="../../../assets/img/gozo.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center; background-color: #FDFCF5;">RECONEXION CON <br/>EL GOZO DE <br/> VIVIR </h6>
        </div>
      </div>
      <div class="card" style="width: 18rem; border: none; margin-left: 40%; position: absolute;">
        <img src="../../../assets/img/adicciones.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center; background-color: #FDFCF5;">ADICCIONES</h6>
        </div>
      </div>
      <div class="card" style="width: 16rem; border: none; margin-left: 70%; position: absolute;">
        <img src="../../../assets/img/ansiedad.png" class="card-img-top" alt="...">
        <div class="card-body" style="background-color: #FDFCF5;">
          <h6 class="card-text" style="text-align: center; background-color: #FDFCF5;">DEPRESION Y <br/> ANSIEDAD CON <br/> ANTIDEPRESIVOS</h6>
        </div>
      </div>
      <br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <button class="botons" style="margin-left: 42%;">Quiero saber más</button>
      <br><br><br><br>
</div>
<div class="bannerm">
    <br><br><br><br><br><br><br>
    <h1>Comienza tu tratamiento</h1>
    <br><br>
        <button class="boton" style="margin-left: 45%;">Inicia tu protocolo</button>
</div>



